body {
    background-color: white;
    margin: 0%;
    padding: 1em 1%;
    margin-right: 1%;
    margin-left: 1%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 70%;
}

.curiosidade::before {
    content: 'Curiosidade!';
    border: solid red 0.1em;
    border-radius: 10%;
    background-color: red;
    color: gold;
    padding: 0.03em;
}

.curiosidade {
    padding-bottom: 5px;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    font-weight: bolder;
}

header h1 {
    font-size: 2.5em;
}

header h3 {
    font-size: 1.5em;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.4em;
}

p, a, table, ul, ol, footer {
    font-family: 'Poppins', sans-serif;;
    text-align: justify;
    font-size: 1.1em;
    font-weight: bolder;
}

p a {
    text-decoration: none;
}

aside {
    border: solid blue 0.1em;
    background-color: silver;
    width: 88%;
    padding: 1%;
    text-align: center;
    float: center;
    margin: auto;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: left;
    display: block;
}

aside a {
    text-decoration: none;
    color: red;
}

aside p {
    font-size: 1em;
    text-align: center;
}

aside h2 {
    font-size: 1.2em;
}

aside h3 {
    font-size: 1.0em;
}

table {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    padding: 5em;
    background-color: white;
}

thead {
    border: solid black 0.1em;
    background-color: goldenrod
}

tbody {
    border: solid black 0.1em;
    background-color: gold;
}

td, th {
    padding: 1em 1em;
    border: solid black 0.1em;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    width: 60%;
}

#sobre .integrantes p {
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}

@media (min-width: 1120px) {
    .curiosidade {
        display: inline-block;
        padding-bottom: 5px;
        transition: .2s cubic-bezier(.37,1.89,.59,.73);
      }
    .curiosidade:hover {
        transform: scale(1.4);
        padding-left: 7em;
    }
}

@media (min-width: 651px) and (max-width: 930px) {
    iframe {
        width: 68%;
    }

}

@media (min-width: 651px) and (max-width: 750px) {
    #menu {
        display: flex;
        justify-content: center;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobre .integrantes p {
        text-align: center;
        padding-left: 5em;
        padding-right: 5em;
    }

}

@media (min-width: 431px) and (max-width: 650px) {
    iframe {
        width: 86%;
    }

    #menu {
        display: flex;
        justify-content: center;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobre .integrantes p {
        text-align: center;
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media (min-width: 421px) and (max-width: 530px) {
    iframe {
        width: 100%;
    }

    table {
        width: 10em;
    }

    #menu {
        display: flex;
        justify-content: center;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobre .integrantes p {
        text-align: justify;
        padding-left: 0.1em;
        padding-right: 0.1em;
    }

}

@media (max-width: 420px) {
    iframe {
        width: 100%;
    }
    
    #menu {
        display: flex;
        justify-content: center;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobre .integrantes p {
        text-align: justify;
        padding-left: 0em;
        padding-right: 0em;
    }

}

header {
    margin-top: -2.3em;
    margin-left: -0.85em;
    margin-right: -0.6em;
}

header h1, h3 {
    padding: 0.5em;
}

footer {
    margin-bottom: -1.0em;
    margin-left: -0.85em;
    padding-right: 1.4em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    justify-content: flex-start;
}

footer p {
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    font-size: 0.95em;
}

a {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: rgb(42, 238, 42);
}

a:active {
    color: blue;
}

#fim {
    padding-bottom: 3em;
}

body p::selection {
    color: white;
    background-color: black;
}

body li::selection {
    color: white;
    background-color: black;
}

body strong::selection {
    color: white;
    background-color: black;
}

body th::selection {
    color: white;
    background-color: black;
}

body td::selection {
    color: white;
    background-color: black;
}

body h1::selection {
    color: white;
    background-color: black;
}

body h2::selection {
    color: white;
    background-color: black;
}

body h3::selection {
    color: white;
    background-color: black;
}

body a::selection {
    color: white;
    background-color: black;
}

header h1::selection {
    color: gold;
    background-color: red;
}
header h3::selection {
    color: gold;
    background-color: red;
}

header a::selection {
    color: gold;
    background-color: red;
}

header ul::selection {
    color: gold;
    background-color: red;
}

footer p::selection {
    color: gold;
    background-color: red;
}

/* ESTILOS ESPECÍFICOS PARA INDEX */

#principal {
    background-color: white;
}

#subtitulo {
    opacity: 0.7;
}

#cabecalho {
    background-color: black;
    color: white;
}

#cabecalho li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
}

#cabecalho ul {
    text-align: center;
}

#cabecalho a {
    text-decoration: none;
    color: white;
}

#rodape {
    background-color: black;
    color: white;
    width: 100%;
}

#rodape a {
    text-decoration: none;
    color: red;
}

#cabecalho li:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
}

#moderna {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    padding-bottom: 2em;
}

/* ESTILOS ESPECÍFICOS PARA A PESTE */

#peste {
    background-color: white;
}

#peste p, li {
    color: black;
}

#cabecalho-peste {
    background-color: black;
    color: white;
}

#cabecalho-peste li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
}

#cabecalho-peste li:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
}

#cabecalho-peste ul {
    text-align: center;
}

#cabecalho-peste a {
    text-decoration: none;
    color: white;
    transition: color 600ms linear; 
}

#cabecalho-peste a:hover {
    color: red;
}

#rodape-peste {
    background-color: black;
    width: 100%;
    color: white;
}

#rodape-peste p {
    color: white;
}

#rodape-peste a {
    text-decoration: none;
    color: red;
}


/* ESTILOS ESPECÍFICOS PARA AS CRUZADAS */

#cruzadas {
    background-color: silver;
}

#cabecalho-cruzadas {
    background-color: red;
}

#cabecalho-cruzadas h1::selection {
    color: white;
    background-color: black;
}

#cabecalho-cruzadas a::selection {
    color: white;
    background-color: black;
}

#rodape-cruzadas p::selection {
    color: white;
    background-color: black;
}

#cabecalho-cruzadas li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
}

#cabecalho-cruzadas ul {
    text-align: center;
}

#cabecalho-cruzadas a {
    text-decoration: none;
    color: white;
    transition: color 600ms linear; 
}

#cabecalho-cruzadas a:hover {
    color: gold;
    cursor: pointer;
}

#rodape-cruzadas {
    width: 100%;
    background-color: red;
}

#rodape-cruzadas a {
    text-decoration: none;
    color: white;
    transition: color 600ms linear; 
}

#rodape-cruzadas a:hover {
    color: gold;
    cursor: pointer;
}

/* ESTILOS ESPECÍFICOS PARA A GUERRA */

#guerra {
    /* background-color: rgb(240, 220, 44); */
    background-image: linear-gradient( 0deg, yellow, blue );
    background-repeat: no-repeat;
}

#cabecalho-guerra {
    background-color: rgb(64, 64, 243);
    color: white;
}

#cabecalho-guerra li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
}

#cabecalho-guerra li:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.5s;
}

#cabecalho-guerra ul {
    text-align: center;
}

#cabecalho-guerra a {
    text-decoration: none;
    color: white;
    transition: color 400ms linear;
}

#cabecalho-guerra a:hover {
    cursor: pointer;
    color: yellow;
}

#rodape-guerra {
    background-color: gold;
    color: white;
}

#rodape-guerra a {
    text-decoration: none;
    color: blue;

}

/* ESTILOS ESPECÍFICOS PARA CRIADORES */

#sobre {
    background-color: white;
}

#sobre .integrantes {
    display: flex;
    justify-content: center;
}

#sobre .integrantes h1 {
    text-align: center;
}

#sobre section {
    display: block;
}

#sobre #fontes h2 {
    text-align: center;
}

#cabecalho-criadores {
    background-color: blue;
    color: white;
}

#cabecalho-criadores li {
    display: inline-block;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#cabecalho-criadores li:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: red;
    transition-duration: 0.5s;
}

#cabecalho-criadores ul {
    text-align: center;
}

#cabecalho-criadores a {
    text-decoration: none;
    color: white;
}

#fontes {
    float: left;
}

#fontes li {
    list-style-type: none;
}

#fontes a {
    text-decoration: none;
    color: red;
}

#fontes a:hover {
    text-decoration: underline;
    color: rgb(42, 238, 42);
}

#fontes a:active {
    color: blue;
}

.foto {
    border-radius: 50%;
    width: 20em;
}